.container-login {
  padding-top: 100px;
  .div-login {
    position: relative;
    width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 19px -8px rgba(117,117,117,1);

    .div-conditions{
      span{
        color: #607D8B;
      }
    }
  }
}
